/*
    Author: Frank Tran
*/

/* Variables */
$header-bg-url: url(../images/bg-header.jpg);
$header-text-color:gold;
$bg-color:rgb(226, 213, 194);


body{
    background-color: $bg-color;
}
header{
    background-image: $header-bg-url;
    color: $header-text-color;
    text-align: center;
    // padding:15px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    // height:100px;
    h1{
        font-weight:bold;
        font-size: 2em;
    }
}
h2{
    font-weight:bold;
    font-size:1.5em;
    margin-top:10px;
}
h3{
    font-weight: bold;
    font-size: 1.2em;
    margin-top:5px;
}
section>section{
    margin-left:20px;
    ul{
        margin-left:30px;
    }
}
section>ul{
    margin-left:30px;
    li{
        margin:5px 0px 5px 0px;
    }
}
footer{
    margin-top: 20px;
    .col-sm{
        text-align: center;
        margin-bottom:5px;
        margin-top:5px;
        a{
            font-weight: bold;
            color:gray;
            &:link{
                color:gray;
            }
            &:hover{
                color:brown;
                text-decoration: none;
                font-size: 1.2em;
            }
            transition: all 0.3s ease;
        }
    }
}

ol,
ul {
    list-style-type: circle;
    margin-left: 20px;
}
