body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    text-align: center;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

strong {
    font-weight: 600;
}

a {
    color: #856dc0;
    border-bottom: 1px dashed #856dc0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    font-style: italic;
}

.medium-paragraph {
    font-size: 17px;
    line-height: 32px;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
}

::selection {
    color: #fff;
    text-shadow: none;
}

/***** Footer *****/

.footer-top {
    padding: 60px 0 40px 0;
    text-align: left;
}

.footer-top h3 {
    padding-bottom: 10px;
}

.footer-contact p {
    word-wrap: break-word;
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #ddd;
}

.footer-contact p a {
    border-bottom: 1px dashed #ccc;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
    border-bottom: 1px dashed #856dc0;
}

.footer-links a {
    color: #888;
    border: 0;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #555;
    margin-left: 3px;
}

.footer-bottom {
    padding: 0 0 60px 0;
}

.footer-social a {
    margin: 0 10px;
    color: #bbb;
    border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
    color: #856dc0;
    border: 0;
}

.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}

a[href^="http"]:after{
    content: " (URL: " attr(href) ")    ";
}

#mySidebar{
    display: none;
}