header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    color: black;
}

.scp-quizzes-main {
    /*width: 100%;*/
    background-color: rgb(218, 207, 207);
    border-radius: 2px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 20px;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

.scp-quizzes-data {
    box-shadow: 0px 1px 3px -1px #DCDCDC;
    padding: 10px;
    margin-top: 15px;
}

pre {
    border: 2px solid #f5f5f5;
    padding: 10px;
    overflow-x: scroll;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type=radio]+label:hover {
    border: 1px solid #000000;
}

input[type="radio"]:checked+label {
    background-color: #000;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.myButton {
    background-color: white;
    color: black;
    border: 2px solid #847f9e;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.myButton:hover {
    background-color: #847f9e;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    display: block;
    resize: vertical;
    overflow: auto;
    width: 95%;
    height: 120px;
    border: 1px solid whitesmoke;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

textarea:focus {
    border-color: black;
    outline: 0px !important;
}

span {
    display: inline;
    font-size: 16px;
    margin-left: 10px;
    color: black;
}

strong {
    margin-right: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
    line-height: 25px;
}

strong {
    font-weight: 600;
}

a {
    color: #17099b;
    border-bottom: 1px dashed #17099b;
    text-decoration: none;
    transition: all .3s;
}

a:hover,
a:focus {
    color: #17099b;
    border: 0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    margin-top: 30px;
}

img {
    max-width: 100%;
}


/*::-moz-selection {
    background: #17099b;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #17099b;
    color: #fff;
    text-shadow: none;
}*/

.hyper {
    text-decoration: none;
    color: black;
}