.scp-quizzes-main {
    /*width: 100%;*/
    background-color: rgb(206, 194, 194);
    margin-left: 60px;
    margin-right: 60px;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

.scp-quizzes-data {
    box-shadow: 0px 1px 3px -1px #DCDCDC;
    padding: 10px;
    margin-top: 15px;
}

pre {
    border: 2px solid #f5f5f5;
    padding: 10px;
    overflow-x: scroll;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type=radio]+label:hover {
    border: 1px solid #000000;
}

input[type=radio]:checked+label {
    background-image: none;
    background-color: #0C0;
    color: #fff;
    border: 1px solid #0C0 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.worngans {
    background-color: #F36;
    color: #fff;
    border: 1px solid #F36 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.myButton {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    margin-left: auto;
    margin-right: auto;
}

.myButton:hover {
    background-color: #f44336;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    display: block;
    resize: vertical;
    overflow: auto;
    width: calc(90% - 20px);
    height: 120px;
    border: 1px solid whitesmoke;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

textarea:focus {
    border-color: black;
    outline:0px !important;

}

span {
    display: inline;
    font-size: 16px;
    margin-left: 10px;
}

strong {
    margin-right: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
}

footer{
	/*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

strong {
    font-weight: 600;
}

a {
    color: #856dc0;
    border-bottom: 1px dashed #856dc0;
    text-decoration: none;
    transition: all .3s;
}

a:hover,
a:focus {
    color: #856dc0;
    border: 0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    font-style: italic;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 17px;
    line-height: 32px;
}

::-moz-selection {
    background: #7762ac;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #7762ac;
    color: #fff;
    text-shadow: none;
}

/***** Footer *****/

.footer-top {
    padding: 60px 0 40px 0;
    text-align: left;
}

.footer-top h3 {
    padding-bottom: 10px;
}

.footer-contact p {
    word-wrap: break-word;
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #ddd;
}

.footer-contact p a {
    border-bottom: 1px dashed #ccc;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
    border-bottom: 1px dashed #856dc0;
}

.footer-links a {
    color: #888;
    border: 0;
}

.footer-links a:hover,
.footer-links a:focus {
    color: #555;
    margin-left: 3px;
}

.footer-bottom {
    padding: 0 0 60px 0;
}

.footer-social a {
    margin: 0 10px;
    color: #bbb;
    border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
    color: #856dc0;
    border: 0;
}

.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}